@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
  }
  .header .logo {
    text-align: center;
  }
  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 0.3em 0;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-course {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 0.8em;
  }
  .event {
    width: auto;
  }
  .event img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .project-details {
    font-size: 12px;
    flex-shrink: initial;
  }
  .event-detail {
    margin: -2em 0.5em 0.5em;
    padding: 20px;
  }
}

@media screen and (max-width: 320px) {
}
